<div class='landing-wrapper'>
  <img class='landing-img' src='/images/beer.png' alt='beer' />
  <div class='landing-links'>
    <a href='/beers' id='all-beers'>Check the Beers!</a>
    <a href='/random-beer' id='rand-beer'>Check a Random Beer</a>
  </div>
</div>